<section class="container mt-4 text-center">
  <div class="row justify-content-center">
    <div class="col-sm-6 mb-4">
      <div class="card text-center border-dark">
        <div class="card-body">
          <h1 class="card-header" style="background-color: rgba(39, 93, 39, 0.556);">Welcome, {{user.username}}</h1>
          <h2>Today's Date: {{currentDate}}</h2>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="card-body text-center">
  <button class="btn btn-primary mt-4" style="background-color: black; color: #ffffff;"><a href="/dashboard/create" class="text-white text-decoration-none" >Create Post</a></button>
</section>

<!-- Display Posts -->
{{#if posts.length}}

  {{#each posts as |post|}}
<section class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-sm-6 mb-4">
      <div class="card text-center border-dark">
        <div class="card-body">
          <a href="/dashboard/edit/{{post.id}}" style="text-decoration: none; color: black;">
            <header class="card-header h4" style="background-color: rgba(39, 93, 39, 0.556);">{{post.title}}</header>
            <p class="lead">Posted on: {{format_date post.createdAt}}</p>
          </a>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>
</section>
{{/each}}

{{else}}
  <div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-sm-6 mb-4">
      <section class="card text-center border-dark">
        <header class="card-header h4" style="background-color: rgba(39, 93, 39, 0.556);">Posts</header>
        <div class="card-body">
          <p>No posts yet.</p>
        </div>
        <div class="card-footer"></div>
      </section>
    </div>
  </div>
</div>
{{/if}}