<section class="container text-center">
  <h1>Welcome, {{user.username}}</h1>
  <h2>Today's Date: {{currentDate}}</h2>
</section>


<section class="card-body text-center">
  <button class="card-body btn btn-primary"><a href="/dashboard/create" class="text-white text-decoration-none">Create Post</a></button>
</section>

<!-- Display Posts -->
{{#if posts.length}}

  {{#each posts as |post|}}
<section class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-sm-6 mb-4">
      <div class="card text-center border-dark mb-4">
        <div class="card-body">
          <a href="/dashboard/edit/{{post.id}}" style="text-decoration: none; color: black;">
            <header class="card-header h4">{{post.title}}</header>
            <p class="lead">Posted on: {{format_date post.createdAt}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{{/each}}

{{else}}
<section class="card">
  <div class="card-body">
    <p>No posts yet.</p>
    </div>
  </section>
{{/if}}
</div>